<div>

<h1>Employees Details</h1>

  <table border="1">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Skill</th>
      <th>Salary</th>
      <th>Action</th>
    </tr>

    <tr *ngFor="let employee of employees">
      <td>{{ employee.name }}</td>
      <td>{{ employee.age }}</td>
      <td>{{ employee.gender }}</td>
      <td>{{ employee.skill }}</td>
      <td>{{ employee.salary }}</td>
      <td>
        <button style="background-color: blue;color:white" 
        (click)="onEmployeeSelected(employee)">View</button>
      </td>
    </tr>
  </table>


  <employee-details *ngIf="currentEmployee"  (updateSalary)='onUpdateSalary($event)' [employee]='currentEmployee'></employee-details>

</div>